@use './../../Config/colors' as colors;

.tasks {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__container {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &__header {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            &__title {
                font-size: 1.5rem;
                font-weight: 600;
                color: darken(colors.$primary, 10%);
            }
            > a {
                text-decoration: none;
                color: darken(colors.$secondary, 30%);
                
                &:hover {
                    color: darken(colors.$secondary, 50%);
                }
            }
        }
        &__body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            &__list {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                overflow-y: auto;
                &__item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    border: 1px solid colors.$secondary;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    height: 100%;
                    gap: 1rem;
                    > img {
                        width: 4rem;
                        aspect-ratio: 1/1;
                    }
                    &__info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 1rem;
                        &__title {
                            font-size: 1.25rem;
                        }
                        &__date {
                            font-size: 0.75rem;
                            color: darken(colors.$secondary, 30%);
                        }
                    }
                }
            }
        }
    }
}